<form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
    <h2>Login</h2>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Placeholder">
        <mat-error *ngIf="loginForm.controls.email.invalid && !loginForm.controls.email.pristine">
            Email is invalid
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Placeholder">
        <mat-error *ngIf="loginForm.controls.password.invalid && !loginForm.controls.password.pristine">Password is
            invalid</mat-error>
    </mat-form-field>
    <button [disabled]="loginForm.invalid" mat-raised-button>Submit</button>
</form>