/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-blue: #091535;
$light-green: #d4edda;
$light-orange: #fffbe5;
$light-blue: #cce5ff;
$light-red: #ffc4c4;

.success-snackbar {
    background-color: $light-green;
    color: $primary-blue;
}

.warning-snackbar {
    background-color: $light-orange;
    color: $primary-blue;
}

.info-snackbar {
    background-color: $light-blue;
    color: $primary-blue;
}

.error-snackbar {
    background-color: $light-red;
    color: $primary-blue;
}
